*~
.*.sw[op]
/etc/devpanel.conf
/config/packages/
!/config/packages/apache_vhost
!/config/packages/apache_vhost
/config/key_value/linuxuser-vhost/
/config/iptables*
/bin/gitolite.d/
/bin/packages/
!/bin/packages/cron.d/
/bin/utils
/compat/w_/public_html/
!/compat/w_/public_html/cgi/cgit.cgi
/config/os
/var/lock/
/.vagrant/
/Vagrantfile
/console.log
