[default]
access_key = @@access_key@@
secret_key = @@secret_key@@
host_base  = @@region@@.digitaloceanspaces.com
host_bucket = %(bucket)s.@@region@@.digitaloceanspaces.com
bucket_location = @@region@@
enable_multipart = True
multipart_chunk_size_mb = 500
